:root {
  --primary-color: #010626;
  --secondary-color: #324359;
  --default-color: #b6bfbd;
}

.root {
  display: flex;
  justify-content: center;
}

.image_frame {
  position: relative;
  overflow: hidden;
}

.image_holder {
  display: flex;
  transition: 0.1s all;
}

.right_button {
  position: absolute;
  right: 0;
  top: 50%;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 50%;
}

.left_button {
  position: absolute;
  left: 0;
  top: 50%;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 50%;
}
